/* Uncomment when not using bundler */
@import url("./Features/BlockBreaker/index.css");
@import url("./Features/DragAndDrop/index.css");

html,
body {
    margin: 0;
    height: 100%;
}
.root-container {
    height: 100%;
}
