html,
body {
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#dragBtn {
    position: relative;
    cursor: grab;
    align-self: center;
}
