.cq-container {
    width: 50%;
    contain: style layout inline-size;
}
.cq {
    display: flex;
    flex-direction: column;
    background-color: yellow;
}

@container (min-width: 80ch) {
    .cq {
        flex-direction: row;
        background-color: green;
    }
}
