.learn-css h1::before,
.learn-css h1::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.learn-css h1::before {
    background-color: white;
    animation: typewritter 4s steps(9) 1s forwards;
}

.learn-css h1::after {
    width: 0.125em;
    background: black;
    animation: typewritter 4s steps(9) 1s forwards,
        blink 750ms steps(9) infinite;
}

@keyframes typewritter {
    to {
        left: 100%;
    }
}

@keyframes blink {
    to {
        background: transparent;
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.learn-css h1 ~ * {
    opacity: 0;
    transform: translateY(3rem);
    animation: fadeIn 2s ease 6.5s forwards;
}

@media (prefers-reduced-motion) {
    .learn-css h1::before,
    .learn-css h1::after,
    .learn-css h1 ~ * {
        animation-duration: 0s;
        animation-delay: 0s;
    }
    .learn-css h1::after {
        background: unset;
    }
}

.stop-animation {
    margin-top: 2rem;
}

#stop-heading-animation:checked ~ h1::before,
#stop-heading-animation:checked ~ h1::after,
#stop-heading-animation:checked ~ h1 ~ * {
    animation-duration: 0s;
    animation-delay: 0s;
}
#stop-heading-animation:checked ~ h1::after {
    background: unset;
}
