body {
    margin: 0;
    min-height: 100%;
}

header,
footer {
    padding-block: var(--size-1);
}

header {
    margin-block-end: var(--size-6);
    box-shadow: var(--shadow-3);
    position: sticky;
    inset: 0;
    z-index: var(--layer-important);
}

main {
    padding-block: var(--size-1);
}

.root-container {
    width: min(100% - 2rem, 50rem);
    margin-inline: auto;
}

footer {
    inset: auto 0 0;
    margin-block-start: var(--size-6);
}

header nav ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    list-style: none;
}

@media (min-width: 768px) {
    header nav ul {
        flex-direction: row;
    }
}

header nav ul li {
    text-decoration: none;
    margin-left: 1em;
}

header nav ul li a {
    text-decoration: none;
}

h1 {
    position: relative;
    display: inline-block;
    font-size: var(--font-size-fluid-3);
}

nav.breadcrumb {
    padding: 0.4em 0.8em;
    box-shadow: 0 0 2px 2px black;
}

nav.breadcrumb ol {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

nav.breadcrumb li {
    display: inline-block;
}

nav.breadcrumb li+li::before {
    display: inline-block;
    margin: 0 0.25em;
    transform: rotate(15deg);
    border-right: 0.1em solid currentColor;
    height: 0.8em;
    content: "";
}

nav.breadcrumb [aria-current="page"] {
    color: #000;
    text-decoration: none;
}